{{ > header}}

	<h2>Welcome {{user.identity}} ({{user.email}}). <a href="{{address}}/logout">Disconnect</a></h2>
	
	<h3><a href="{{address}}/search">Go to the search page</a></h3>
	
	<h3>Your scripts : </h3>
	
	<table class="ui single-line table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
            <th>Creation date</th>
            <th></th>
		</tr>
		</thead>
	
		<tbody>
			{{#user.scripts}}
				<tr>
					<td>{{id}}</td>
					<td><a href="script/{{id}}">{{title}}</a></td>
					<td>{{description}}</td>
                    <td>{{creationDate}}</td>
                    <td><a href="{{address}}/script/delete/{{id}}">
                            <button class="circular red ui icon button" >
                                <i class="delete icon"></i>
                            </button>
                        </a>
                    </td>
				</tr>
			{{/user.scripts}}
		</tbody>
	</table>
	
	<button class="ui neutral button"><a href="{{address}}/script/new">Add a script</a></button>

{{ > footer}}